.webOpal {
  background: linear-gradient(
    135deg,
    #006bb5 0%,
    #378ece 26.09%,
    #539fda 48.03%,
    #6cbe6e 79.9%,
    #76c947 100%
  );
}

.phoneImage {
  height: 420px;
  width: 299px;
  background-color: #fafcfd;
}

.opalRates {
  height: 420px;
  width: 717px;
  background-color: #fafcfd;
}

.review {
  height: 555px;
  width: 1031px;
  background-color: rgba(0, 0, 0, 0.03);
}

.reviewContent {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 45px;
}
