@import "./variables";
@import "~bootstrap/scss/bootstrap.scss";

.container {
  padding: 0 15px;
}

.font-small-timer {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 11px;
  text-align: center;
}
.font-extra-small {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
}

.font-small {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

.font-small-medium {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
  @include media-breakpoint-up(sm) {
    font-size: 18px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }
}

.font-medium {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}

.font-large {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  @include media-breakpoint-up(sm) {
    font-size: 30px;
  }
  @include media-breakpoint-up(md) {
    font-size: 40px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 50px;
  }
}
.font-extra-large {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  @include media-breakpoint-up(sm) {
    font-size: 40px;
  }
  @include media-breakpoint-up(md) {
    font-size: 50px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 60px;
  }
}
