.header {
  background-color: black;
}

.btnBrand {
  height: 56px;
  width: 192px;
  border-radius: 15px;
  background-color: #ff0022;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
